.darkwolf-disclaimer {
  max-width: 100%;
  margin: 100px auto;
  margin-top: 0;
  margin-bottom: 0;
  background-color: var(--card-bg);
  color: var(--text-color-secondary);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  box-shadow: 0 0 10px var(--box-shadow-color);
  font-family: 'Segoe UI', sans-serif;
}

.darkwolf-disclaimer-head {
    padding: 20px;
    border-bottom: 1px solid var(--border-color-secondary);
}

.darkwolf-disclaimer-body {
    padding: 20px;
    padding-left: 0;
    padding-right: 0;
}

.login {
    border: 1px;
    border-color: var(--border-color-ccc);
    border-style: solid;
    width: 20rem;
    border-radius: 5px;
    padding: 20px;
}

.login-reset {
    width: 24rem;
}

.login-head {
    color: var(--text-color);
    font-size: 24px;
    margin: auto;
}

.login-error-head {
    color: var(--text-color);
    font-size: 24px;
    margin: auto;
    width: 20rem;
}
.login-error-head span {
    text-align: center;
}

.login-input {
    background-color: transparent;
    color: var(--text-color-secondary);
    border-color: var(--border-color-000);
    border-radius: 5px;
    border-top: none;
    border-left: none;
    margin-left: 5px;
    padding: 2px;
    width: 30ch;
}
.login-input:focus {
    outline: none;
}

.login-validation {
    width: 30ch;
    text-wrap: initial;
    color: var(--msg-error);
    font-size: smaller;
    padding-left: 10px;
}

.button-action {
    border-radius: 8px;
    color: var(--text-color-secondary);
    background-color: transparent;
    border-color: var(--border-color-000);
    margin-left: 3px;
}
.button-action:hover {
    color: var(--text-color);
}
.button-action:disabled {
    color: var(--text-color-diasbled);
    background-color: transparent;
}

.show-password-toggle {
  font-size: 14px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--show-password-toggle);
}

.note-reset-token {
    font-size: 9px;
    margin-bottom: 5px;
}
