<div class="app-container">

    <div class="card-grid">

        <div class="card" (click)="open('/new')">
            <div class="icon">📝</div>
            <h3>New Request</h3>
            <p>Create a new travel booking request here</p>
        </div>

        <div class="card" (click)="open('/approvals')">
            <div class="icon">🗂️</div>
            <h3>Approvals</h3>
            <p>Here you can see list of request send to you</p>
        </div>

        <!-- <div class="card">
            <div class="icon">✅</div>
        </div>
        <div class="card">
            <div class="icon">✔️</div>
        </div>
        <div class="card">
            <div class="icon">📩</div>
        </div>
        <div class="card">
            <div class="icon">⏳</div>
        </div> -->

    </div>

    <app-history></app-history>

</div>