 <div class="body"> 
    <div class="wolves">
        <img src="assets/logos/wolf-tattoo-7.jpg" class="wolf"/>
        <img src="assets/logos/wolf-tattoo-7.jpg" class="wolf right"/>
    </div>

    <img src="assets/logos/wolf-tattoo-8.jpg" class="emblem"/>

    <h1>404</h1>
    <h2>Page Not Found</h2>
    <p>The requested page could not be found.</p>
    <p><strong>Darkwolf</strong></p>

    <div class="disclaimer">
        <h3>Disclaimer</h3>
        <p>Darkwolf is a secure portal intended for authorized users only. All activity is monitored. If you are not an authorized user, please exit immediately.</p>
    </div>
</div>