<nav class="navbar">
  <div class="nav-left">
    <button class="menu-btn" (click)="toggleSidebar()">
      <i class="fa fa-bars"></i>
    </button>
  </div>

  <div class="nav-right">
    <div class="profile-container">
      <div class="dflex">
        <div class="profile-name">
          <h5>{{username}}</h5>
          <p>{{email}}</p>
        </div>
        <img src="assets/logos/profile.jpg" alt="Profile" (click)="toggleProfileMenu()" class="profile-img" />
      </div>
      <div class="profile-menu" *ngIf="isProfileMenuOpen">
        <ul>
          <li (click)="openProfilePlate()">My Profile</li>
          <li (click)="openSettingPlate()">Settings</li>
          <li (click)="logout()">Logout</li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Sidebar -->
  <div class="side-navbar" [class.open]="isSidebarOpen">
    <ng-content></ng-content>
  </div>
</nav>

<!-- Profile Overlay -->
<div class="background-hider" *ngIf="isProfilePlateOpen || isSettingPlateOpen">
  <div class="plate">
    <button class="close-button" (click)="closePlate()">
      <i class="fa-solid fa-xmark"></i>
    </button>
    <div class="plate-content">
      <app-profile *ngIf="isProfilePlateOpen"></app-profile>
      <app-settings *ngIf="isSettingPlateOpen"></app-settings>
    </div>
  </div>
</div>
