<!-- Area 2 start -->
<div id="login-target" class="darkwolf-disclaimer">

    <!-- Section 1 start -->
    <div class="dflex darkwolf-disclaimer-head">

        <div class="dflex">
            <h2 class="login-head">{{processName}}</h2>
        </div>

    </div>
    <!-- Section 1 end -->

    <!-- Section 2 start -->
    <div class="dflex darkwolf-disclaimer-body">

        <div>
            <!-- Final message -->
            <div class="dflex login-error-head">
                <span class="gap msg-error">{{overallMessage}}</span>
            </div>

            <ng-container [ngSwitch]="processName">
            <!-- Login box -->
            <form *ngSwitchCase="'Login'" #loginForm="ngForm" (ngSubmit)="login(loginForm)" class="login gap">
                <!-- Username -->
                <div class="dflex dflex-align-start gap">
                    <span>Username :</span>
                    <div>
                        <input #username="ngModel" ngModel required name="username" type="text" class="login-input"/><br>
                        <ng-container *ngIf="username.invalid && username.touched">
                            <span *ngIf="username.errors?.['required']" class="login-validation dflex-start">Username is required.</span>
                        </ng-container>
                    </div>
                </div>
                <!-- Password -->
                <div class="dflex dflex-align-start gap">
                    <span>Password :</span>
                    <div>
                        <input #password="ngModel" ngModel required name="password" [type]="showPassword.value ? 'text' : 'password'" class="login-input"/><br>
                        <ng-container *ngIf="password.invalid && password.touched">
                            <span *ngIf="password.errors?.['required']" class="login-validation dflex-start">Password is required.</span>
                        </ng-container>
                        <label class="show-password-toggle">
                            <input #showPassword="ngModel" ngModel name="showPassword" type="checkbox" />Show Password
                        </label>
                    </div>
                </div>
                <!-- Actions -->
                <div class="dflex dflex-align-start">
                    <button (click)="partialReset(); setProcess = 'forgot';" class="button-action">Forgot Password</button>
                    <button [disabled]="loginForm.invalid" type="submit" class="button-action">Login</button>
                </div>
            </form>
            <!-- Forgot Password box -->
            <form *ngSwitchCase="'Forgot Password'" #forgotForm="ngForm" (ngSubmit)="confirmSubmit(forgotForm)" class="login gap">
                <!-- email -->
                <div class="dflex dflex-align-start gap">
                    <span>Email :</span>
                    <div>
                        <input #email="ngModel" ngModel required name="email" type="email" class="login-input"/><br>
                        <ng-container *ngIf="email.invalid && email.touched">
                            <span *ngIf="email.errors?.['required']" class="login-validation dflex-start">Email is required.</span>
                        </ng-container>
                    </div>
                </div>
                <!-- Actions -->
                <div class="dflex dflex-align-start">
                    <button (click)="partialReset(); setProcess = 'login';" class="button-action">Back</button>
                    <button [disabled]="forgotForm.invalid" type="submit" class="button-action">Confirm</button>
                </div>
            </form>
            <!-- Reset Password box -->
            <form *ngSwitchCase="'Reset Password'" #resetForm="ngForm" (ngSubmit)="changePassword(resetForm)" class="login login-reset gap">
                
                <div class="dflex">
                    <span class="note-reset-token">*note: Reset token is sent to your email, if you triggered forgot-password</span>
                </div>
                <!-- reset token -->
                <div class="dflex dflex-align-start gap">
                    <span>Reset Token _____:</span>
                    <div>
                        <input #resetToken="ngModel" ngModel required name="resetToken" type="text" class="login-input"/><br>
                        <ng-container *ngIf="resetToken.invalid && resetToken.touched">
                            <span *ngIf="resetToken.errors?.['required']" class="login-validation dflex-start">Reset Token is Required.</span>
                        </ng-container>
                    </div>
                </div>
                <!-- New Password -->
                <div class="dflex dflex-align-start gap">
                    <span>New Password ___:</span>
                    <div>
                        <input #newPasswordModel="ngModel" [(ngModel)]="password" required minlength="8" name="newPassword" [type]="showPasswordReset.value ? 'text' : 'password'" class="login-input"/><br>
                        <ng-container *ngIf="newPasswordModel.invalid && newPasswordModel.touched">
                            <span *ngIf="newPasswordModel.errors?.['required']" class="login-validation dflex-start">Password is required.</span>
                            <span *ngIf="newPasswordModel.errors?.['minlength']" class="login-validation dflex-start">Password atleast have 8 character length.</span>
                        </ng-container>
                    </div>
                </div>
                <!-- Confirm Password -->
                <div class="dflex dflex-align-start gap">
                    <span>Confirm Password :</span>
                    <div>
                        <input #confirmPasswordModel="ngModel" [(ngModel)]="confirmPassword" required name="confirmPassword" [type]="showPasswordReset.value ? 'text' : 'password'" class="login-input"/><br>
                        <ng-container *ngIf="(confirmPasswordModel.invalid || confirmPassword != password) && confirmPasswordModel.touched">
                            <span *ngIf="confirmPasswordModel.errors?.['required']" class="login-validation dflex-start">Confirm Password is required.</span>
                            <span *ngIf="confirmPassword != password" class="login-validation dflex-start">Password and Confirm password both should match.</span>
                        </ng-container>
                        <label class="show-password-toggle">
                            <input #showPasswordReset="ngModel" ngModel name="showPassword" type="checkbox" />Show Password
                        </label><br>
                    </div>
                </div>
                <!-- Actions -->
                <div class="dflex dflex-align-start">
                    <button (click)="partialReset(); setProcess = 'login';" class="button-action">Back to login</button>
                    <button [disabled]="resetForm.invalid || confirmPassword != password" type="submit" class="button-action">
                        Change Password
                    </button>
                </div>
            </form>
            </ng-container>

        </div>

    </div>
    <!-- Section 2 end -->

</div>
<app-loader *ngIf="isLoading"></app-loader>
<!-- Area 2 end -->